@import "bootstrap-sprockets";
@import "bootstrap";


:root {
	--custom-blue: #002b7f;
	--custom-grey: #f5f7fa;
}

body {
	margin-top: 10px;
}

.float-right {
	float: right;
}

.panel-title-center {
	text-align: center;
}
.light-background {
	background-color: var(--custom-grey)
}

.btn-print {
	background-color: white;
	color: var(--custom-blue) !important;
}

.btn-return {
	background-color: var(--custom-blue);
	color: white !important;
}
.blue-header{
	background-color: var(--custom-blue);
	color: white;
}

.silver-title {
	padding-left: 10px;
	background-color: silver;
}

.transfer-label{
	font-weight: 700;
}

.panel-with-borders {
	border: 2px solid black; 
}

